*{
    padding: 0;
    margin: 0%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(istockphoto-1292991881-612x612.webp);
    background-size: cover;
}
.container:h3{
    animation: gradientflow 6s linear infinite;
}