*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background:url(pngtree-a-scenic-dock-leading-into-the-water-framed-by-peaceful-ambiance-image_16749632.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    

}
input{

    border-radius: 6px;
    padding: 15px;
    margin: 20px 0;
    width: 250px;
    background: transparent;
    
}
button{
    width:270px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#4873cf;
    color:white;
    font-size:16px;
    cursor:pointer;
}
button:hover{
    background: linear-gradient(to the bottom #4873cf,#0953dc75);
}
a{
    text-decoration: underline;
    color: rgb(5, 5, 6);
}
.container{
   
    background: transparent;
    text-align: center;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);;


}
label{
    text-align: center;
    
}